/* aligins attribute to center */
h1 {
    text-align: center;
}

/* specifies the max width for form,margin,padding */

#body-color {
    background-color: aqua;
    height: 90%;
}

/* class css,specifies border */
.border {
    border: thin black solid;
    margin: 20px;
    padding: 20px;
}

/* specifies margin and padding*/
div {

    margin: 5pt;
    padding: 1pt;
}

#navi-color {
    background-color: rgb(0, 183, 255);
    display: block;
    margin: 0;
    padding: 0;

}

#navi-color-body {
    background-color: rgb(0, 183, 255);
    display: block;
    margin: 0;
    padding: 0;
    height: 300px;
    overflow-y: scroll;



}


#users-color {
    background-color: cornsilk;
    width: 800px;
    height: 500px;
    margin: 2px;
    padding: 2px;

}



.typemsg {

    position: fixed;
    left: 450px;
    bottom: 85px;
    margin: 0%;
    padding: 0%;
}

.footer {
    position: fixed;
    left: 8;
    bottom: 0;
    width: 97.7%;
    background-color: rgb(0, 183, 255);
    color: solid black;
    text-align: left;
}